.auth__title {
    margin: 0;
    color: #ffffff;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin-top: 60px;
}

@media screen and (max-width: 917px) {
    .auth__title {
        font-size: 20px;
        line-height: 24px;
        margin-top: 40px;
    }
}